* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01497C;
    font-family: 'roboto', sans-serif;
}
  
.musicPlayer {
    width: 350px;
    height: auto;
    border-radius: 20px;
    
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  
    padding: 30px;
    overflow: hidden;
    color: white;
}
  
.musicName,
.artistName{
    text-align: center;
    text-transform: capitalize;
}
  
.musicName{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}
  
.artistName{
    font-size: 20px;
}
  
.disk {
    width: 250px;
    height: 250px;
    background-image: url(assets/cover/albumPicture.png);
    background-size: cover;
    margin: 1.5rem auto;
    border-radius: 10px;
}
  
.songSlider {
    width: 100%;
    position: relative;
}
  
.seekBar {
    appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #A9D6E5;
    overflow: hidden;
    cursor: pointer;
}
  
.seekBar::-webkit-slider-thumb{
    appearance: none;
    width: 1px;
    height: 20px;
    background: none;
    box-shadow: -400px 0 0 400px #468FAF;
}
  
.songDuration, .currentTime {
    font-size: 14px;
}
  
.songDuration {
    position: absolute;
    bottom: 0;
    right: 0;
}
  
.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    gap: 2rem;
}
  
.playBtn {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(73, 160, 174, 1);
    cursor: pointer;
    border: none;
}
  
.playBtn span {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 10px;
    height: 30px;
    border-radius: 2px;
    background: white;
    transition: .3s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
  
.playBtn span:nth-child(2) {
    left: 55%;
    transform-origin: center;
}
  
.playBtn.pause span:nth-child(2) {
    transform: translateY(-50%) scaleY(0);
}
  
.playBtn.pause span:nth-child(1) {
    width: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}
  
.btn {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: rgba(73, 160, 174, 1);
    cursor: pointer;
}
  
.btn i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
